 @media screen and (min-width:769px){
    .context-flex{
        display: flex;
        flex-direction: row;
        margin-top: 50px;
    }
 }

 @media screen and (max-width:768px){
    .context-flex{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
 }
}